* {
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  scroll-behavior: smooth;
}
.normal-font {
  font-family: sans-serif;
}
.bg-black {
  background-color: black;
}
.text-black {
  color: black;
}
.text-red {
  color: red;
}
.bg-red {
  background-color: red;
}
.z-index {
  z-index: 1;
}
/* --styles for navbar */
.color {
  background-color: white;
}
li a:hover {
  color: blue !important;
}
#navbar {
  transition: all 0.3s ease-in-out;
}
